<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GOMIN Pooljang</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/css/user_received_msg.css" />
  </head>
  <body>
    <%- include('./include/header') %>
    <div class="index-container-wrap">
      <div class="index-container">
        <div class="main-body">
          <div class="board">
            <div class="top-controls">
              <div class="temp-container">
                <div class="temp-wrapper">
                  <img
                    src="../static/images/thermometer.png"
                    alt="온도계"
                    class="temp-icon"
                  />
                  <span class="temperatureText">나의 온도</span>
                  <span class="temperature"><%=user.temp%></span>
                </div>
              </div>
              <div class="list-button-container">
                <button class="list-button" onclick="history.back()">
                  목록
                </button>
              </div>
            </div>
            <div class="message-container">
              <div class="sent-message">
                <div class="message-header">내가 답장한 고민</div>
                <div class="message-content">
                  <div class="content-row">
                    <div class="label">제목</div>
                    <div class="text"><%=myAnswerList.title %></div>
                  </div>
                  <div class="content-row">
                    <div class="label">날짜</div>
                    <div class="text">
                      <%= new
                      Date(myAnswerList.senderPostDateTime).toLocaleString('ko-KR',
                      { year: 'numeric', month: '2-digit', day: '2-digit', hour:
                      '2-digit', minute: '2-digit', second: '2-digit', hour12:
                      false }) %>
                    </div>
                  </div>
                  <div class="content-row">
                    <div class="label">내용</div>
                    <div class="text message-text">
                      <%=myAnswerList.senderContent %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="received-message">
                <div class="message-header">답장</div>
                <div class="message-content">
                  <div class="content-row">
                    <div class="label">날짜</div>
                    <div class="text">
                      <%= new
                      Date(myAnswerList.responderPostDateTime).toLocaleString('ko-KR',
                      { year: 'numeric', month: '2-digit', day: '2-digit', hour:
                      '2-digit', minute: '2-digit', second: '2-digit', hour12:
                      false }) %>
                    </div>
                  </div>
                  <div class="content-row">
                    <div class="label">내용</div>
                    <div class="text message-text">
                      <%=myAnswerList.responderContent %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
